---
import { ViewTransitions } from "astro:transitions";
import "../styles/style.css";

import logo from "../images/panificadora-logo.jpg";
const url = "https://losandesdev.netlify.app";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<ViewTransitions />
<!-- HTML Meta Tags -->
<title>Panificadora Los Andes</title>
<meta
  name="description"
  content="Pan, elaborado artesanalmente y con ingredientes frescos"
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content={url} />
<meta property="og:type" content="website" />
<meta property="og:title" content="Panificadora Los Andes" />
<meta
  property="og:description"
  content="Pan, elaborado artesanalmente y con ingredientes frescos"
/>
<meta property="og:image" itemprop="image" content=`${url}${logo.src}` />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={url} />
<meta property="twitter:url" content={url} />
<meta name="twitter:title" content="Panificadora Los Andes" />
<meta
  name="twitter:description"
  content="Pan, elaborado artesanalmente y con ingredientes frescos"
/>
<meta name="twitter:image" itemprop="image" content=`${url}${logo.src}` />
